<!doctype html>
<html lang="en-us">
  <head>
    <title>Brandle</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/brandle.css">
  </head>
  <body>
    <h1>Welcome to Brandle!</h1>
    <!-- Show Error message if any -->
    <% if session[:message] %>
      <p id="message"><%= session.delete(:message) %></p>
    <% end %>

    <%= yield %>

  </body>
</html>
