  <div>
  <form action="/play" method="get">
    <input type="submit" value="Play As Guest">
  </form>
  <form action="/login" method="get">
    <input type="submit" value="Sign In">
  </form>
  </div>

